*{
    margin: 0;
}

body{
    background-color: rgb(0, 162, 255);
}
.top{
    display: flex;
    flex-direction: row-reverse;
    height: 10%;
}

.top-button{
    margin-top: 10px;
    margin-right: 40px;
    height: 90%;
    width: 15%;
    font-size: 1.5vw;
    font-weight: 700;
    color: rgb(0, 162, 255);
    border: 20px solid white;
    border-radius: 50px;
    background-color: white;

}

.score{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left,
.divisor,
.right{
    font-size: 40vw;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.divisor{
    font-family: 'Rajdhani', sans-serif;
    animation-name: blink;
    animation-duration: .90s;
    animation-iteration-count: infinite;
}

@keyframes blink {
    0%{
        color: white;
    }
    50%{
        color: rgb(0, 162, 255);
    }
}

@media (min-width: 2800px){
    .left,
    .right,
    .divisor{
        font-size: 35vw;
    }
     
    .score{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .top-button{
        font-size: 1.5vw;
    }

}
